
<div fxLayout.xs = "column">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Samir BOUHASSOUN</mat-card-title>
      <mat-card-subtitle>Technical Architect</mat-card-subtitle>

      <p class="card-menu">

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </p>

    </mat-card-header>
    <img class="card-image" mat-card-image src="https://www.jeancoutu.com/globalassets/revamp/photo/conseils-photo/20160302-01-reseaux-sociaux-profil/photo-profil_301783868.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-chip">


      <mat-chip-listbox>

        <mat-chip *ngFor="let chip of chips" selected color="blue" [ngStyle]="{'background-color': chip.color}">
          <img matChipAvatar src="{{chip.img}}" alt="{{chip.alt}}"/>
          {{chip.name}}
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>


</div>